<h1>Listing samples</h1>

<%= link_to 'Add new sample', new_sample_path, class: "btn btn-warning" %>
<br>
<br>

<% if (@paginate == nil) || @paginate %>
  <%= will_paginate @samples, renderer: BootstrapPagination::Rails %>
<% end %>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Received from</th>
      <th>Location</th>
      <th>Due date</th>
      <th>User responsible</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @samples.each do |sample| %>
      <%if not sample.still_valid? then%>
        <%cl="danger"%>
      <%else%>
        <%if sample.completed?%>
          <%cl="success"%>
        <%else%>
          <%cl=""%>
        <%end%>
      <%end%>
      <tr>
        <td class="<%=cl%>"><%= sample.from %></td>
        <td class="<%=cl%>"><%= sample.location %></td>
        <td class="<%=cl%>"><%= sample.due %></td>
        <td class="<%=cl%>"><%= sample.user_resp_name %></td>
        <td class="<%=cl%>"><%= sample.status_stri %></td>
        <td><%= link_to 'Show', sample, class: 'btn btn-success' %></td>
        <td><%= link_to 'Edit', edit_sample_path(sample), class: 'btn btn-warning' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add new sample', new_sample_path, class: "btn btn-warning" %>


