<%= form_for(@part, :html => { :multipart => true }) do |f| %>
  <% if @part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@part.errors.count, "error") %> prohibited this part from being saved:</h2>

      <ul>
      <% @part.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Create/update part type", class: "btn btn-warning" %>
  </div>

  <div class="form-group">
    <%= f.label 'Part type picture (like SolidWorks screenshot)'%>
    <%= f.file_field :image, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Aist-NT internal Id" %><br>
    <%= f.text_field :own_id, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label 'External supplier part Id' %><br>
    <%= f.text_field :third_id, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label 'description' %><br>
    <%= f.text_area :desc, class: "form-control" %>
  </div>

  <div class="from-group">
    <%= f.label 'Order link(s)' %><br>
    <%= f.text_area :order_link, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label 'Approximate unit price in USD' %><br>
    <%= f.number_field :order_price, :class => 'text_field from-control', :step => 0.01 %>
  </div>
  <div class="form-group">
    <%= f.label 'How to order description if there is any specifics.' %><br>
    <%= f.text_area :order_desc, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label 'Minimum number of this parts at warehouse. For lower numbers warning is displayed.' %><br>
    <%= f.number_field :min_cnt, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label 'Part type' %><br>
    <%= f.select( :part_type, @part_types, selected: @part.part_type, class: "form-control" ) %>
  </div>
  <div class="form-group">
    <%= f.label 'Ordering time in days.' %><br>
    <%= f.number_field :order_time, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label 'Choose a person who is supposed to order this part' %><br>
    <%= f.select( :ordering_person_id, @users, selected: @ordering_person_id, class: "form-control" )%>
  </div>
    


  <% if false then%>
      <div class="form-group">
          <%= f.label :user_id %><br>
          <%= f.number_field :user_id %>
      </div>
  <% end %>
<% end %>
