
<%if @paginate then%>
    <%= will_paginate @parts, renderer: BootstrapPagination::Rails %>
<%end%>

<table class="table table-bordered
table-hover
table-condensed
table-responsive">
  <thead>
    <tr>
      <th>How part look like (image)</th>
      <th>Aist-NT internal Id</th>
      <th>Third party's part type Id</th>
      <th>User introduced this part type</th>
      <th>Total cnt</th>
      <th>Ordered cnt</th>
      <th></th>
      <th></th>
      <%if @expand then%>
        <th></th>
      <%end%> 
    </tr>
  </thead>

  <tbody>
    <% @parts.each do |part| %>
      <%if part.critical_cnt? then%>
        <%cl="danger"%>
      <%else%>
        <%cl=""%>
      <%end%>
      <tr class="<%=cl%>">
        <td>
            <a href="<%=part.image.url(:original).sub( /\?\d+/i, "" )%>" rel="facebox" >
              <%=image_tag( part.image.url(:thumb) )%>
            </a>
        </td>
        <td><%= part.own_id %></td>
        <td><%= part.third_id %></td>
        <%if part.user then%>
            <td><%= part.user.name + ' ' + part.user.surname %></td>
        <%else%>
            <td>Can't specify</td>
        <%end%>
        <td><%= part.cnt %></td>
        <td>
          <%if not part.has_subparts?%>
            <%ordered_cnt, items = part.ordered_cnt%>
            <%=ordered_cnt.to_s%>
          <%else%>
            This is an assembly
          <%end%>
        </td>
        <td><%= link_to 'Show', part, class: 'btn btn-success' %></td>
        <td><%= link_to 'Edit', edit_part_path(part), class: 'btn btn-warning' %></td>
        <%if false then%>
            <td><%= link_to 'Destroy', part, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
      <%if @expand then%>
        <td>------></td>
        <%parts_save=@parts%>
        <%@parts = part.all_subparts%>
        <%=render 'parts/index'%>
        <%@parts = parts_save%>
      <%end%> 

    <% end %>
  </tbody>
</table>

