
<%if @paginate then%>
    <%= will_paginate %>
<%end%>

<table>
  <thead>
    <tr>
      <th>How part look like (image)</th>
      <th>Aist-NT internal Id</th>
      <th>Third party's part type Id</th>
      <th>User introduced this part type</th>
      <th>Total cnt</th>
      <th></th>
      <th></th>
      <th></th>
      <%if @expand then%>
        <th></th>
      <%end%> 
    </tr>
  </thead>

  <tbody>
    <% @parts.each do |part| %>
      <%if part.critical_cnt? then%>
        <%cl="critical_cnt"%>
      <%else%>
        <%cl=""%>
      <%end%>
      <tr>
        <td>
            <a href="<%=part.image.url(:original).sub( /\?\d+/i, "" )%>" rel="facebox" >
              <%=image_tag( part.image.url(:thumb) )%>
            </a>
        </td>
        <td class="<%=cl%>"><%= part.own_id %></td>
        <td class="<%=cl%>"><%= part.third_id %></td>
        <%if part.user then%>
            <td class="<%=cl%>"><%= part.user.name + ' ' + part.user.surname %></td>
        <%else%>
            <td class="<%=cl%>">Can't specify</td>
        <%end%>
        <td class="<%=cl%>"><%= part.cnt %></td>
        <td><%= link_to 'Show', part %></td>
        <td><%= link_to 'Est.', estimate_path(part) %></td>
        <td><%= link_to 'Edit', edit_part_path(part) %></td>
        <%if false then%>
            <td><%= link_to 'Destroy', part, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
      <%if @expand then%>
        <td>------></td>
        <%parts_save=@parts%>
        <%@parts = part.all_subparts%>
        <%=render 'parts/index'%>
        <%@parts = parts_save%>
      <%end%> 

    <% end %>
  </tbody>
</table>

