<%= form_for(@contract) do |f| %>
  <% if @contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% @contract.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :desc %><br>
    <%= f.text_area :desc, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :ship_date %><br>
    <%= f.date_select :ship_date, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :shipped %><br>
    <%= f.check_box :shipped, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-warning' %>
  </div>
<% end %>
<br>


