

  <%if @paginate%>
    <%=will_paginate( @products )%>
  <%end%>

  <table>
    <thead>
      <tr>
        <th>Serial number</th>
        <th>Description</th>
        <th>Status</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.serial_number %></td>
          <td><%= product.desc %></td>
          <td><%= product.status_stri %></td>
          <td><%= link_to 'Show', product %></td>
          <td><%= link_to 'Edit', edit_product_path(product) %></td>
          <td>
            <%if ( not product.assigned? )%>
              <%=form_tag( adjust_contract_path( @contract ), :method => "post" ) do%>
                <%= submit_tag "Assign to contract" %>
                <%=hidden_field_tag :contract_item_id, @contract_item.id %>
                <%=hidden_field_tag :assign_product_id, product.id %>
              <%end%>
            <%else%>
              <%contract = product.contract()%>
              <%if ( contract )%>
                <%=link_to( "Assigned to \"" + contract.name + "\"", contract_path( contract.id ) )%>
              <%end%>
            <%end%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<%= link_to 'Back to contract', edit_contract_path( @contract ) %>




