<h1>Editing contract</h1>

<%= render 'form' %>
<br>

<%= form_tag( ship_assigned_items_path( @contract.id ) ) do %>
  <%= submit_tag( "Ship assigned items", class: 'btn btn-warning' )%>
<%end%>
<br>

<%if not @contract.shipped%>
  <%=link_to 'Add item to this contract', add_contract_item_path( @contract.id ), class: 'btn btn-success' %>
<%end%>
<br>

<h2>Items in this contract:</h2>
<table class="table table-bordered table-hover">
  <%@editable = true%>
  <%@contract_items.each do |ci|%>
    <%@contract_item = ci%>
    <%=render 'contracts/show_contract_item'%>
  <%end%>
</table>

<%= link_to 'Show contract', @contract %> |
<%= link_to 'All contracts', contracts_path %>
