<p id="notice"><%= notice %></p>

<%=form_tag( copy_contract_path( @contract.id ), method: 'post' ) do%>
  Make a copy of this contract <%=submit_tag( "Copy" )%>
<%end%>
<br>

<p>
  <strong class="contract_level_<%=@level.to_s%>">
    Contract: <%= @contract.name %>
  </strong>
</p>

<p>
  <strong>Details provided</strong>
  <%= @contract.desc %>
</p>

<p>
  <strong>Ship date:</strong>
  <%= @contract.ship_date %>
</p>

<p>
  <strong>Shipped:</strong>
  <%= @contract.shipped %>
</p>
<br>

<h2>Items in this contract:</h2>
<table>
  <thead>
    <tr>
      <td>
      </td>
      <td>
        Part No
      </td>
      <td>
        Serial No
      </td>
      <td>
        Type
      </td>
      <td>
        Description
      </td>
      <td>
        Cnt
      </td>
      <td>
        Cnt in production
      </td>
    </tr>
  </thead>
  <tbody>
    <%@editable = false%>
    <%@contract_items.each do |ci|%>
      <%@contract_item = ci%>
      <%=render 'contracts/show_contract_item'%>
    <%end%>
  </tbody>
</table>

<%if not @contract.shipped%>

  <br>
  <h2 class="contract_level_<%=@level.to_s%>">Contract report</h2>

  <%if @level > 0%>
    <h2>Warning level: <b><%=@level.to_s%></b></h2>
    <br>
  <%end%>

  <%if @could.size > 0%>
    The following positions for this project are unavailable in stock. But these 
    products can be assembled from parts available.
    <table>
      <%@could.each do |part, cnt|%>
        <tr>
          <td>
            <a href="<%=part.image.url(:original).sub( /\?\d+/i, "" )%>" rel="facebox" >
              <%=image_tag( part.image.url(:thumb) )%>
            </a>
          </td>

          <td>
            <%=link_to( part.own_id, part_path( part.id ) )%>
          </td>

          <td>
            <%=cnt.to_s%>          
          </td>
        </tr>
      <%end%>
    </table>
    <br>
  <%end%>

  <%if @couldnt.size > 0%>
    The following position(s) for this project are unavailable and can <strong>not</strong> be assembled.
    <table>
      <%@couldnt.each do |part, cnt|%>
        <tr>
          <td>
            <a href="<%=part.image.url(:original).sub( /\?\d+/i, "" )%>" rel="facebox" >
              <%=image_tag( part.image.url(:thumb) )%>
            </a>
          </td>

          <td>
            <%=link_to( part.own_id, part_path( part.id ) )%>
          </td>

          <td>
            <%=cnt.to_s%>          
          </td>
        </tr>
      <%end%>
    </table>
    <br>

    <%if @parts_to_purchase.size > 0 %>
      To assemble missing part(s) this project requires <b><%=@parts_to_purchase.size.to_s%></b> positions 
      to be ordered. 
      <% if @days_to_assemble > 0%>
        According to shipment information for all individual parts if ordered today there will be <b><%=@days_to_assemble.to_s%></b> days 
        for assembling and testing before shipping.
      <% else %>
        <div class="contract_level_<%=@level.to_s%>">
          According to shipment information for all individual parts even if all parts are ordered today they will arrive 
          <%=-@days_to_assemble%> days after ship date.
        </div>
      <% end %>
      <br>
    <%end%>
    <table>
      <%@parts_to_purchase.each do |part, cnt|%>
        <tr>
          <td>
            <a href="<%=part.image.url(:original).sub( /\?\d+/i, "" )%>" rel="facebox" >
              <%=image_tag( part.image.url(:thumb) )%>
            </a>
          </td>

          <td>
            <%=link_to( part.own_id, part_path( part.id ) )%>
          </td>

          <td>
            <%=cnt.to_s%>          
          </td>
        </tr>
      <%end%>
    </table>

  <%end%>

<%end%>

<%if not @contract.shipped%>
  <%= link_to 'Edit contract date/details', edit_contract_path(@contract) %> |
<%end%>
<%= link_to 'All contracts', contracts_path %>


