<p id="notice"><%= notice %></p>

<%if not @contract.shipped%>
  <%= link_to 'Edit contract date/details', edit_contract_path(@contract, date: @ship_date_id || -1 ), class: "btn btn-warning" %> |
<%end%>
<%= link_to 'All contracts', contracts_path, class: "btn btn-info" %>
<br>
<br>

<%=form_tag( copy_contract_path( @contract.id ), method: 'post' ) do%>
  Make a copy of this contract <%=submit_tag( "Copy", class: 'btn btn-danger', data: { confirm: 'Are you sure?' } )%>
<%end%>
<br>


<p>
  <strong class="contract_level_<%=@level.to_s%>">
    Contract: <%= @contract.name %>
  </strong>
</p>

  <%= form_tag request.env['PATH_INFO'], :method => 'get' do %>
    <p  class="form-group">
      <%= label_tag "Filter contract items by ship date:" %>
      <%= select_tag :date, options_for_select( @ship_dates, @ship_date_id || -1 ), class: "form-control" %>
    </p>
    <p class="form-group">
      <%= submit_tag "Show items by ship date", class: 'btn btn-success' %>
    </p>
  <% end %>              

<strong><%=link_to( "Packing list (internal use only!!!)", packing_list_path( @contract.id ), class: "btn btn-info" )%></strong>
<strong><%=link_to( "Contract packing list",  user_packing_list_path( @contract.id ), class: "btn btn-success" )%></strong>
<strong><%=link_to( "Backordered items list", followup_packing_list_path( @contract.id ), class: "btn btn-success" )%></strong>
<strong><%=link_to( "Inventory packing list", inventory_packing_list_path( @contract.id ), class: "btn btn-success" )%></strong>

<p>
  <strong>Details provided</strong>
    <%if @contract.number%>
      <%= @contract.number.to_s + ". " + @contract.desc %>
    <%else%>
      <%= @contract.desc %>
    <%end%>
</p>

<p>
  <strong>Ship date:</strong>
  <%= @contract.ship_date %>
</p>

<p>
  <strong>Shipped:</strong>
  <%= @contract.shipped %>
</p>

<p>
  <strong>Responsible user:</strong>
  <%if @owner%>
    <%= @owner.name_stri %>
  <%else%>
    Unspecified
  <%end%>
</p>

<p>
  <%@box = @contract.box()%>
  <%if @box%>
    <strong>Contract items are put to <%=link_to( @box.box_id.to_s, box_path( @box.id ) )%> box by default</strong>
    <%=render( 'boxes/show' )%>
  <%else%>
    Default place for contract items is not specified.
  <%end%>
</p>

<br>

<h2>Items in this contract:</h2>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <td>
        Sort by:<br>
        <%= link_to( "Number",   contract_path( @contract.id, sort_by: "number" ), class: "btn" ) %><br>
        <%= link_to( "As added", contract_path( @contract.id, sort_by: "id" ),     class: "btn" ) %>
      </td>
      <td>
        Ship date
      </td>
      <td>
        Part No
      </td>
      <td>
        Serial No
      </td>
      <td>
        Type
      </td>
      <td>
        Description
      </td>
      <td>
        Cnt
      </td>
      <td>
        Cnt in assembling
      </td>
      <td>
        Ordered cnt
      </td>
      <td>
      </td>
    </tr>
  </thead>
  <tbody>
    <%@editable = false%>
    <%@contract_items.each do |ci|%>
      <%@contract_item = ci%>
      <%=render 'contracts/show_contract_item'%>
    <%end%>
  </tbody>
</table>
<br>



<%shipments = @contract.shipments()%>
<%if shipments.size > 0%>
  <h2>Shipments list:</h2>
  <%shipments.each do |shipment|%>
    <%@shipment = shipment%>
    <%=render( 'shipments/show' )%>
  <%end%>
<%end%>
<br>



<%if not @contract.shipped%>
  <h2 class="contract_level_<%=@level.to_s%>">Contract report</h2>

  <%if @level > 0%>
    <h2>Warning level: <b><%=@level.to_s%></b></h2>
    <br>
  <%end%>

  <%if @could.size > 0%>
    The following positions for this project are unavailable in stock. But these 
    products can be assembled from parts available.
    <table class="table table-bordered table-hover">
      <%@could.each do |part, cnt|%>
        <tr>
          <td>
            <a href="<%=part.image.url(:original).sub( /\?\d+/i, "" )%>" rel="facebox" >
              <%=image_tag( part.image.url(:thumb) )%>
            </a>
          </td>

          <td>
            <%=link_to( part.own_id, part_path( part.id ) )%>
          </td>

          <td>
            <%=cnt.to_s%>          
          </td>
        </tr>
      <%end%>
    </table>
    <br>
  <%end%>

  <%if @couldnt.size > 0%>
    The following position(s) for this project are unavailable and can <strong>not</strong> be assembled.
    <table class="table table-bordered table-hover">
      <%@couldnt.each do |part, cnt|%>
        <tr>
          <td>
            <a href="<%=part.image.url(:original).sub( /\?\d+/i, "" )%>" rel="facebox" >
              <%=image_tag( part.image.url(:thumb) )%>
            </a>
          </td>

          <td>
            <%=link_to( part.own_id, part_path( part.id ) )%>
          </td>

          <td>
            <%=cnt.to_s%>          
          </td>
        </tr>
      <%end%>
    </table>
    <br>

    <%if @parts_to_purchase.size > 0 %>
      To assemble missing part(s) this project requires <b><%=@parts_to_purchase.size.to_s%></b> positions 
      to be ordered. 
      <% if @days_to_assemble > 0%>
        According to shipment information for all individual parts if ordered today there will be <b><%=@days_to_assemble.to_s%></b> days 
        for assembling and testing before shipping.
      <% else %>
        <div class="contract_level_<%=@level.to_s%>">
          According to shipment information for all individual parts even if all parts are ordered today they will arrive 
          <%=-@days_to_assemble%> days after ship date.
        </div>
      <% end %>
      <br>
    <%end%>
    <table class="table table-bordered table-hover">
      <%@parts_to_purchase.each do |part, cnt|%>
        <tr>
          <td>
            <a href="<%=part.image.url(:original).sub( /\?\d+/i, "" )%>" rel="facebox" >
              <%=image_tag( part.image.url(:thumb) )%>
            </a>
          </td>

          <td>
            <%=link_to( part.own_id, part_path( part.id ) )%>
          </td>

          <td>
            <%=cnt.to_s%>          
          </td>
        </tr>
      <%end%>
    </table>

  <%end%>

<%end%>




<h2>Attachments list</h2>
<table class="table table-bordered table-hover">
  <%@contract.attachments.each do |att|%>
    <tr>
      <td>
        <%=link_to att.file_file_name, att.file.url%>
      </td>
      <td>
        <%= att.desc %>
      </td>
    </tr>
  <%end%>
</table>

<h2>Add another attachment</h2>
<%= form_tag( contract_add_attachment_path( @contract.id ), multipart: true ) do %>
  <%= file_field_tag :file %>
  <%= text_area_tag  :desc %>
  <%= submit_tag 'Append attachment and/or description', class: 'btn btn-warning' %>
<%end%>
<br>



<%if not @contract.shipped%>
  <%= link_to 'Edit contract date/details', edit_contract_path(@contract, date: @ship_date_id || -1 ), class: "btn btn-warning" %> |
<%end%>
<%= link_to 'All contracts', contracts_path, class: "btn btn-info" %>


