
<%if true%>
  <%content_for( :printer_friendly, true )%>
<%end%>

<p>
  <strong>
    Contract: <%= @contract.name %>
  </strong>
</p>

<p>
  <strong>Ship date:</strong>
</p>
<br>

<h2>Items in the contract:</h2>
<table>

  <thead>
    <tr>
      <td>
      </td>
      <td>
        Part No
      </td>
      <td>
        Details
      </td>
      <td>
        Box id
      </td>
    </tr>
  </thead>

  <tbody>
    <%@contract_items.each do |ci|%>
      <%@contract_item = ci%>
      <%prod_type = @contract_item.prod_type%>
      <%prod = @contract_item.product%>

      <%if ( (not prod_type.client_visible) && ((prod) || (@contract_item.superitem()) ) )%>
        <tr>
          <td>
            <a href="<%=prod_type.image_ex.url(:original).sub( /\?\d+/i, "" )%>" rel="facebox" >
              <%=image_tag( prod_type.image_ex.url(:thumb) )%>
            </a>
          </td>

          <td>
            <%= prod_type.own_id.to_s %>
          </td>

          <td>
            <%= prod_type.packing_details %>
          </td>

          <td>
          </td>
        </tr>
      <%end%>
    <%end%>
  </tbody>
</table>



