<p id="notice"><%= notice %></p>

<strong>Add product subtype.</strong>

<p>
  <strong>Part number:</strong>
  <%= @prod_type.own_id %>
</p>

  <p>
    Choose part type form the list.
  </p>

  <div class="prod_subtypes_list">
    <%if @paginate then%>
      <%=will_paginate @prod_types, renderer: BootstrapPagination::Rails %>
    <%end%>
    <table>
      <% @prod_types.each do |pt| %>
        <%if pt.id != @prod_type.id then%>
          <tr>
            <td>
              <%= form_tag( add_prod_subtype_path( @prod_type.id ), method: :post ) do %>
                <%= submit_tag "Add this" %>
                <%= hidden_field_tag :contains_id, pt.id %>
              <%end%>
            </td>
            
            <td>
              <a href="<%=pt.image_ex.url(:original).sub( /\?\d+/i, "" )%>" rel="facebox" >
                <%=image_tag( pt.image_ex.url(:thumb) )%>
              </a>
            </td>
            <td>
              <%=link_to( pt.own_id, prod_type_path( pt.id ) ) %></td>
            </td>
            <td>
              <%=pt.desc%>
            </td>
          </tr>
        <%end%>
      <%end%>
    </table>        
  </div>


<%= link_to 'Back', edit_prod_type_path( @prod_type.id ) %>




