<h1>Product types</h1>

<%= link_to 'Add new product type', new_prod_type_path, class: 'btn btn-warning' %>
<br>
<br>

<%if @paginate%>
  <%=will_paginate( @prod_types, renderer: BootstrapPagination::Rails  )%>
<%end%>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Image</th>
      <th>Part number</th>
      <th>Description</th>
      <th>Cnt in stock</th>
      <th>Cnt in production</th>
      <th>Ordered cnt</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @prod_types.each do |prod_type| %>
      <%valid = prod_type.valid_product?%>
      <%if valid%>
        <%cl = ""%>
      <%else%>
        <%cl = "critical_cnt"%>
      <%end%>
      <tr>
        <td>
          <a href="<%=prod_type.image_ex.url(:original).sub( /\?\d+/i, "" )%>" rel="facebox" >
            <%=image_tag( prod_type.image_ex.url(:thumb) )%>
          </a>
        </td>
        <td class="<%=cl%>"><%= prod_type.own_id %></td>
        <td class="<%=cl%>"><%= prod_type.desc %></td>
        <td class="<%=cl%>"><%= prod_type.cnt %></td>
        <td class="<%=cl%>"><%= prod_type.cnt_for_import %></td>
        <td class="<%=cl%>">
          <%part = prod_type.part%>
          <%if part%>
            <%ordered_cnt, items = part.ordered_cnt%>
            <%if not part.has_subparts?%>
              <%=ordered_cnt.to_s%>
            <%else%>
              This is an assembly
            <%end%>
          <%end%>
        </td>
        <td><%= link_to 'Show', prod_type, class: 'btn btn-success' %></td>
        <td><%= link_to 'Edit', edit_prod_type_path(prod_type), class: 'btn btn-warning' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add new product type', new_prod_type_path, class: 'btn btn-warning' %>



