<p id="notice"><%= notice %></p>

<%part = @prod_type.part%>
<%if part%>
  <%= link_to 'Part ordering', show_production_path( part.id ), class: "btn btn-info" %>
  <br>
  <br>
<%end%>

<%=render( 'prod_types/show' )%>

<%= link_to 'Only in stock',   prod_type_path( @prod_type.id, only_in_stock: true ),   class: "btn btn-info" %>
<%= link_to 'Only available',  prod_type_path( @prod_type.id, only_available: true ),  class: "btn btn-info" %>
<%= link_to 'Only unassigned', prod_type_path( @prod_type.id, only_unassigned: true ), class: "btn btn-info" %>
<%= link_to 'All products',    prod_type_path( @prod_type.id, all_products: true ),    class: "btn btn-info" %>
<br>

<%=render( 'products/index' )%>
<br>

<%if part%>
  <%ordered_cnt, items = part.ordered_cnt%>
  <%if ordered_cnt && (ordered_cnt > 0) %>
    <h2>
      Part corresponding to this product type is in orderer. Order(s) are placed for <%=ordered_cnt.to_s%> pieces totally.
    </h2>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td>
            Cnt
          </td>
          <td>
            Contract
          </td>
        </tr>
      </thead>
      <tbody>
        <%items.each do |item|%>
          <tr>
            <td>
              <%=lint_to( item.cnt, item_path( item.id ) )%>
            </td>
            <td>
              <%c = item.contract()%>
              <%if c%>
                link_to( c.name, contract_path( c.id ) )
              <%else%>
                <%=c.name%>
              <%end%>
            </td>

          </tr>
        <%end%>
      </tbody>
    </table>
    <br>
  <%end%>
<%end%>


<%contracts = @prod_type.contracts()%>
<%if contracts.size > 0%>
  <h2>List of pending contracts this product type is included in.</h2>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <td>
          Contract name
        </td>
        <td>
          Cnt
        </td>
      </tr>
    </thead>

    <tbody>
      <%contracts.each do |c, cnt|%>
        <tr>
          <td>
            <%=link_to( c.name, contract_path( c.id ) )%>
          </td>
          <td>
            <%=cnt.to_s%>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>
  <br>
<%end%>



<h2>Attachments list</h2>
<table class="table table-bordered table-hover">
  <%@prod_type.attachments.each do |att|%>
    <tr>
      <td>
        <%=link_to att.file_file_name, att.file.url%>
      </td>
      <td>
        <%= att.desc %>
      </td>
    </tr>
  <%end%>
</table>

<h2>Add another attachment</h2>
<%= form_tag( prod_type_add_attachment_path( @prod_type.id ), multipart: true ) do %>
  <%= file_field_tag :file %>
  <%= text_area_tag  :desc %>
  <%= submit_tag 'Append attachment and/or description', class: 'btn btn-warning' %>
<%end%>


<% if @prod_type.part_id %>
  <%= link_to 'Part', part_path( @prod_type.part_id ) %> | 
<% end %>
<%= link_to 'All product types', prod_types_path %> | 
<%= link_to 'Edit',              edit_prod_type_path(@prod_type) %>

