<h1>Edit user parameters</h1>


<%= form_for(@user, multipart: true) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :surname %><br>
    <%= f.text_field :surname, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password %><br>
    <%= f.text_field :password, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Password confirmation" %><br>
    <%= f.text_field :password_confirmation, class: "form-control" %>
  </div>

  <%if current_user.admin?%>
    <div class="form-group">
      <%= f.label "admin" %><br>
      <%= f.check_box :admin, class: "form-control" %>
    </div>
  <%end%>

  <div class="form-group">
    <%= f.label "Avatar" %><br>
    <%= f.file_field :avatar, class: "form-control" %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
