<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @user.surname %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin? %>
</p>

<p>
  <a href="<%=@user.avatar.url( :big) %>"><%= image_path @user.avatar.url( :thumb )%></a>
</p>

<%= link_to 'Edit', users_edit_url( id: @user.id ) %> |
<%= link_to 'Back', users_all_path %>






