<%= form_for(@box) do |f| %>
  <% if @box.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@box.errors.count, "error") %> prohibited this box from being saved:</h2>

      <ul>
      <% @box.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Warehouse id" %><br>
    <%= f.select( :warehouse_id, options_from_collection_for_select( Warehouse.all, :id, :w_id ) ) %>
  </div>
  <div class="form-group">
    <%= f.label "Short box id" %><br>
    <%= f.text_field :box_id %>
  </div>
  <div class="form-group">
    <%= f.label :desc %><br>
    <%= f.text_area :desc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
