<%= form_for(@contract_item) do |f| %>
  <% if @contract_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contract_item.errors.count, "error") %> prohibited this contract_item from being saved:</h2>

      <ul>
      <% @contract_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :contract_id %><br>
    <%= f.number_field :contract_id, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :prod_type_id %><br>
    <%= f.number_field :prod_type_id, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :product_id %><br>
    <%= f.number_field :product_id, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
