<%= form_for(@part_inst) do |f| %>
  <% if @part_inst.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@part_inst.errors.count, "error") %> prohibited this part_inst from being saved:</h2>

      <ul>
      <% @part_inst.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :part_id %><br>
    <%= f.number_field :part_id %>
  </div>
  <div class="field">
    <%= f.label :box_id %><br>
    <%= f.number_field :box_id %>
  </div>
  <div class="field">
    <%= f.label :cnt %><br>
    <%= f.number_field :cnt %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>






