<%= form_tag( create_part_inst_path ) do |f| %>
  <% if @part_inst && @part_inst.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@part_inst.errors.count, "error") %> prohibited this part_inst from being saved:</h2>

      <ul>
      <% @part_inst.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= label_tag :cnt %><br>
    <%= number_field_tag :cnt, value: 1, class="form-control" %>
  </div>

  <table>
    <thead>
      <tr>
        <th>Parts</th>
        <th>Boxes</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
            <%if @paginate_parts then%>
              <%=will_paginate @parts, param_name: :part_page, renderer: BootstrapPagination::Rails %>
            <%end%>
            <ul>
                <% @parts.each do |part| %>
                  <li>
                    <%= radio_button_tag :part_id, part.id, "#{part.own_id}" %>
                    <% @part = part %>
                    <%= render 'parts/show' %>
                  </li>
                <%end%>
            </ul>
        </td>
        <td>
            <%if @paginate_boxes then%>
              <%= will_paginate @boxes, param_name: :box_page, renderer: BootstrapPagination::Rails %>
            <%end%>
            <ul>
              <% @boxes.each do |box| %>
                <li>
                    <%= radio_button_tag :box_id, box.id, "box" %>
                    <% @box = box %>
                    <%= render 'boxes/show'%>
                </li>
              <% end %>
            </ul>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="actions">
    <%= submit_tag "Create" %>
  </div>


<% end %>






