<%= form_tag user_register_path, multipart: true do %>
  <% if @user && @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize( @user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%flash.each do |k, v|%>
      <id="error_explanation"><%= k %> = <%= v%></p>
  <%end%>

  <div class="form-group">
    <%= label_tag :email %><br>
    <%= text_field_tag :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :name %><br>
    <%= text_field_tag :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :surname %><br>
    <%= text_field_tag :surname, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :password %><br>
    <%= text_field_tag :password, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :confirmation %><br>
    <%= text_field_tag :password_confirmation, class: "form-control" %>
  </div>

  <%if current_user && current_user.admin?%>
    <div class="form-group">
      <%= label_tag "Is new user admin?" %>
      <%= check_box_tag :admin, "Yes/No?", class: "form-control" %>
    </div>
  <%end%>

  <div class="form-group">
    <%= label_tag :avatar %>
    <%= file_field_tag :avatar, class: "form-control" %>
  </div>
  <div class="actions">
    <%= submit_tag "Register" %>
  </div>
<% end %>
