<%= form_for(@image_to_sample) do |f| %>
  <% if @image_to_sample.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image_to_sample.errors.count, "error") %> prohibited this image_to_sample from being saved:</h2>

      <ul>
      <% @image_to_sample.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image_id %><br>
    <%= f.number_field :image_id %>
  </div>
  <div class="field">
    <%= f.label :sample_id %><br>
    <%= f.number_field :sample_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
