<p id="notice"><%= notice %></p>

<p>
  <strong>Part number:</strong>
  <%= @product.part_number %>
</p>

<p>
  <strong>Serial number:</strong>
  <%= @product.serial_number %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @product.desc %>
</p>

<p>
  <strong>Recommended to pack to the following box:</strong>
  <%= @product.pack_to_stri %>
</p>

<p>
  <strong>Status:</strong>
  <%= @product.status_stri %>
</p>

<p>
	<%@box = @product.box()%>
	<%if @box%>
	  <strong>This product is in this <%=link_to( 'box', box_path( @box.id ) )%>:</strong>
	  <%=render( 'boxes/show' )%>
	<%else%>
	  This product is not in a box.
	<%end%>
</p>



<h2>Attachments list</h2>
<table class="table table-bordered table-hover">
  <%@product.attachments.each do |att|%>
    <tr>
      <td>
        <%=link_to att.file_file_name, att.file.url%>
      </td>
      <td>
        <%= att.desc %>
      </td>
    </tr>
  <%end%>
</table>

<h2>Add another attachment</h2>
<%= form_tag( product_add_attachment_path( @product.id ), multipart: true ) do %>
  <%= file_field_tag :file %>
  <%= text_area_tag  :desc %>
  <%= submit_tag 'Append attachment and/or description', class: 'btn btn-warning' %>
<%end%>



<br>
<br>
<%= link_to 'Change location', change_product_box_path( @product.id ), class: "btn btn-warning" %>
<br>
<br>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', prod_type_path( @product.prod_type_id ) %>


