<p id="notice"><%= notice %></p>

<p>
  <strong>Contract:</strong>
  <%= @shipment.contract_id %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @shipment.desc %>
</p>

<%= link_to 'Edit', edit_shipment_path(@shipment) %> |
<%= link_to 'Back', shipments_path %>
