<%= form_for(@warehouse, :html => { :multipart => true }) do |f| %>
  <% if @warehouse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@warehouse.errors.count, "error") %> prohibited this warehouse from being saved:</h2>

      <ul>
      <% @warehouse.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'Warehouse image, how it looks like:'%>
    <%= f.file_field :image, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label 'Warehouse short id' %><br>
    <%= f.text_field :w_id, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label 'Warehouse throrough description' %><br>
    <%= f.text_area :w_desc, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit  class: 'btn btn-warning' %>
  </div>
<% end %>
