<h1>Listing warehouses</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>id</th>
      <th>desc</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @warehouses.each do |warehouse| %>
      <tr>
        <td>
            <a href="<%=warehouse.image.url(:original).sub( /\?\d+/i, "" )%>" rel="facebox" >
              <%=image_tag( warehouse.image.url(:thumb) )%>
            </a>
        </td>
        <td><%= warehouse.w_id %></td>
        <td><%= warehouse.w_desc %></td>
        <td><%= link_to 'Show', warehouse %></td>
        <td><%= link_to 'Edit', edit_warehouse_path(warehouse) %></td>
        <%if false then%>
            <td><%= link_to 'Destroy', warehouse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Warehouse', new_warehouse_path %>
